html,
body {
    color: black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}


#landing {
    display: flex;
    height: 100vh;
    font-family: "Ubuntu Mono", monospace;
    font-weight: bold;
    font-size: 2rem;
    background-color: #29524a;
}

#landing ul {
    list-style-type: none;
    padding: 0rem 2rem;
    margin: 0;
    padding-right: 10rem;
}

#landing li {
    margin-bottom: 2rem;
    padding: 0;
}

#landing time {
    font-weight: normal;
    font-size: 1.5rem;
    color: #f7e733;
}

#landing-content {
    max-height: 100vh;
    width: 45vw;
    overflow: auto;
}

#landing-canva {
    width: 55%;
}

#landing-canva canvas {
    display: block;
    width: 100%;
}

#social-links {
    text-align: end;
    padding: 1rem;
}

#social-links a {
    text-decoration: none;
}

#social-links svg {
    width: 1.5rem;
    height: 1.5rem;
}