<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div id="landing">

        <div id="landing-canva"></div>

        <section id="landing-content">
            {{- partial "header.html" . -}}
            <div id="posts-container">
                <ul>
                    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
                    <li class="post">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                            <br />
                            <time>{{ .Date.Format (.Site.Params.dateform | default "Jan 02 2006") }}</time>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </div>

    <script src="/p5/p5.min.js"></script>
    <script src="/js/genart.js"></script>
</body>

</html>